body{
    background-color: darkcyan;
    color: white;
}

div{
    max-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

image{
    max-width: 500px;
}

.first-text-image{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
}